tr > th:first-child{
    text-align: center;
}

tr > th:nth-child(2){
    text-align: center;
    width : 300px;
}

tr > th:nth-child(3){
    text-align: center;
    width : 400px;
}

tr > td:first-child{
    text-align: center;
}

tr > td:nth-child(2){
    text-align: center;
}